.box{
    background-color: #834333;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 40px;
    color: aliceblue;
    position: fixed;
    width: 100vw;
    z-index: 2;
}
.cart{
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
}