.abt{
    height:100vh;
    display:flex;
    justify-content: center;
    /* align-items: flex-start; */
    background-color: rgb(248, 233, 215);
}
.par{
    /* margin-top: 50px; */
    font-size: 1.2rem;
    font-weight: 450;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding-left:20px;
    padding-right: 20px;
    text-indent: 30px;
    text-shadow: .8px .8px .8px;
    word-spacing: 7px;
    letter-spacing: 1.5px;
    margin-top: 60px;
}
